* {
    background: #0f0f23; /*337 x 5*/
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
}

.grey {
    color: #cccccc;
}

.red {
    color: #ffaaaa;
}

.gold {
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 4px;
}

