* {
    background: #0f0f23; /*337 x 5*/
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
}

div.page {
    white-space: pre;
}

.grey {
    color: #cccccc;
}

.red {
    color: #ffaaaa;
}

.gold {
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
}

div.page > div {
    border-radius: 0.5em;
    background-color: #222232;
    box-shadow: 0.3em 0.4em #070813;
    margin: 0.5em;
}

div {
    padding: 0.5em;
}

